<% layout("layouts/boilerplate") %>

<div class="row mb-5">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=title%></h5>
                <p class="card-text"><%= description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%=location%></li>
                <li class="list-group-item">£<%= price %> per night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%=id%>/edit" class="card-link btn btn-warning">Edit</a>
                <a href="/campgrounds/<%=id%>/delete" class="card-link btn btn-danger">Delete</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%=id%>/reviews" method="post" novalidate class="validated-form mb-3">
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" name="review[rating]" type="range" min="1" max="5" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% for( review of reviews ) { %>
        <div class="mb-3">
            <p>Rating: <%= review.rating %></p>
            <p>Review: <%= review.body %></p>
        </div>
        <% } %>
    </div>
</div>