<% layout("layouts/boilerplate") %>
<h1><%=title%></h1>
<h2><%=location%></h2>

<img src="<%= image %> " alt="">
<p><%= description %> </p>
<a href="/campgrounds">All Campgrounds</a> |
<a href="/campgrounds/<%=id%>/edit">Edit Campground</a> |
<a href="/campgrounds/<%=id%>/delete">Delete Campground</a> |